<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecureStorage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>002703FF20DA2F4A003151FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0027041620DA2F4E003151FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0027042120DA2F4E003151FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
